{:name "ui-cytoscape"
 :clj-require []
:theme {:available  {}
        :current {}}
 :cljs-namespace [pinkgorilla.cytoscape.cytoscape]
 :cljs-bindings {'cytoscape pinkgorilla.cytoscape.cytoscape/cytoscape-boxed}
 :cljs-ns-bindings {}
 :pinkie {:p/cytoscape pinkgorilla.cytoscape.cytoscape/cytoscape-boxed}
 :lazy true
 :snippets [; cytoscape
            {:type :pinkie
             :category :cytoscape
             :id :cytoscape-fruit
             :filename "snippets/cytoscape/fruit.edn"}
            {:type :pinkie
             :category :cytoscape
             :id :cytoscape-tree
             :filename "snippets/cytoscape/tree.edn"}
            {:type :pinkie
             :category :cytoscape
             :id :cytoscape-nodepair
             :filename "snippets/cytoscape/node-pair.edn"}
            {:type :pinkie
             :category :cytoscape
             :id :cytoscape-entanglement
             :filename "snippets/cytoscape/entanglement.edn"}]}