{:name "ui-cytoscape"
 ;build
 :lazy-sci true
 :cljs-namespace [ui.cytoscape]
 :cljs-ns-bindings {'ui.cytoscape {'cytoscape ui.cytoscape/cytoscape-boxed}}
 ;theme
 :theme {:available {}
         :current {}}}
